 /*Hero Clean*/
 .fit-cover {
    object-fit: cover;
  }
  
a {
  }
  
 /* Availability Manager Styling*/
 .availability-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 20px;
    border-style: ridge;
  }
  
  .availability-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1em;
  }
/*Navbar*/
.bs-icon {
    --bs-icon-size: .75rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: var(--bs-icon-size);
    width: calc(var(--bs-icon-size) * 2);
    height: calc(var(--bs-icon-size) * 2);
    color: var(--bs-primary);
  }
  
  .bs-icon-xs {
    --bs-icon-size: 1rem;
    width: calc(var(--bs-icon-size) * 1.5);
    height: calc(var(--bs-icon-size) * 1.5);
  }
  
  .bs-icon-sm {
    --bs-icon-size: 1rem;
  }
  
  .bs-icon-md {
    --bs-icon-size: 1.5rem;
  }
  
  .bs-icon-lg {
    --bs-icon-size: 2rem;
  }
  
  .bs-icon-xl {
    --bs-icon-size: 2.5rem;
  }
  
  .bs-icon.bs-icon-primary {
    color: var(--bs-white);
    background: var(--bs-primary);
  }
  
  .bs-icon.bs-icon-primary-light {
    color: var(--bs-primary);
    background: rgba(var(--bs-primary-rgb), .2);
  }
  
  .bs-icon.bs-icon-semi-white {
    color: var(--bs-primary);
    background: rgba(255, 255, 255, .5);
  }
  
  .bs-icon.bs-icon-rounded {
    border-radius: .5rem;
  }
  
  .bs-icon.bs-icon-circle {
    border-radius: 50%;
  }
  
  

  /*Cookies*/
  @font-face {
	font-family: 'Cookie';
	src: url(../../assets/fonts/syky-y18lb0tSbf9kgqS.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Cookie';
	src: url(../../assets/fonts/syky-y18lb0tSbf9kgqS.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

  /*App Browser*/
  .file_manager .file a:hover .hover, .file_manager .file .file-name small {
    display: block;
  }
  
  .file_manager .file {
    padding: 0 !important;
  }
  
  .file_manager .file .icon {
    text-align: center;
  }
  
  .file_manager .file {
    position: relative;
    border-radius: .55rem;
    overflow: hidden;
  }
  
  .file_manager .file .image, .file_manager .file .icon {
    max-height: 180px;
    overflow: hidden;
    background-size: cover;
    background-position: top;
  }
  
  .file_manager .file .hover {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    transition: all 0.2s ease-in-out;
  }
  
  .file_manager .file a:hover .hover {
    transition: all 0.2s ease-in-out;
  }
  
  .file_manager .file .icon {
    padding: 15px 10px;
    display: table;
    width: 100%;
  }
  
  .file_manager .file .icon i {
    display: table-cell;
    font-size: 30px;
    vertical-align: middle;
    color: #777;
    line-height: 100px;
  }
  
  .file_manager .file .file-name {
    padding: 10px;
    border-top: 1px solid #f7f7f7;
  }
  
  .file_manager .file .file-name small .date {
    float: right;
  }
  
  .card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
  }
  
  .card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  
  
  /*Fonts*/
  @font-face {
	font-family: 'Noto Sans Syriac Eastern';
	src: url(../../assets/fonts/Noac6Vj_wIWFbTTCrYmvy8AjVU8aslWRHHvRYxS-Ro3yS0FDacnHPi-fg0SB5Np1.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0303-0304, U+0307-0308, U+030A, U+0320, U+0323-0325, U+032D-032E, U+0330-0331, U+060C, U+061B-061C, U+061F, U+0621, U+0640, U+064B-0655, U+0660-066C, U+0670, U+0700-074F, U+0860-086A, U+1DF8, U+1DFA, U+200C-200F, U+25CC, U+2670-2671;
}

@font-face {
	font-family: 'Noto Sans Syriac Eastern';
	src: url(../../assets/fonts/Noac6Vj_wIWFbTTCrYmvy8AjVU8aslWRHHvRYxS-Ro3yS0FDacnHPi-fgzmB5Np1.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Noto Sans Syriac Eastern';
	src: url(../../assets/fonts/Noac6Vj_wIWFbTTCrYmvy8AjVU8aslWRHHvRYxS-Ro3yS0FDacnHPi-fgzeB5A.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

  /*Pricing*/
  .bg-white-300 {
    background: rgba(255, 255, 255, 0.3) !important;
  }
  
  .rounded-bottom-left {
    border-radius: 0;
    border-bottom-left-radius: .25rem!important;
  }
  
  .rounded-bottom-right {
    border-radius: 0;
    border-bottom-right-radius: .25rem!important;
  }
  
/*Profile Edit Form*/
div.avatar > img {
    border-radius: 50%;
  }
  
  div.container.profile {
    padding: 10px 20px;
  }
  
  .center {
    text-align: center;
  }
  
  .no-marging {
    margin: 0 !important;
  }
  
  .relative {
    position: relative;
  }
  
  .absolue {
    position: absolute;
  }
  
  div.profile-row {
    margin-top: 55px;
  }
  
  .absolue.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
  }
  
  div.alert {
    width: 40%;
  }
  
  .alert-col {
  }
  
  .alert-col > .alert {
    padding: 10px;
    border-radius: 0;
    transition: all 0.5s ease;
    opacity: 0;
  }
  
  .alert-col > .alert.display {
    opacity: 1;
  }
  
  hr {
    height: 2px;
  }
  
  .content-right > * {
    float: right;
  }
  
  .form-btn {
    min-width: 100px;
    margin: 0 5px;
    max-width: 200px;
  }
  
  img.avart-img {
    max-width: 200px;
  }
  
  div.avatar-bg {
    background: url(https://www.gravatar.com/avatar/1234566?size=200&d=mm);
    background-position: 50% 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 50%;
    margin-left: calc(50% - 100px);
  }
  
  div.avatar {
  }
  
  div.container.profile {
    padding: 10px 20px;
  }
  
  .center {
    text-align: center;
  }
  
  .relative {
    position: relative;
  }
  
  .absolue {
    position: absolute;
  }
  
  div.profile-row {
    margin-top: 55px;
  }
  
  .absolue.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
  }
  
  div.alert {
    width: 40%;
  }
  
  .alert-col > .alert {
    padding: 10px;
    border-radius: 0;
    transition: all 0.5s ease;
    opacity: 0;
  }
  
  hr {
    height: 2px;
  }
  
  .content-right > * {
    float: right;
  }
  
  .form-btn {
    min-width: 100px;
    margin: 0 5px;
    max-width: 200px;
  }
  
  div.avatar-bg {
    background: url(https://www.gravatar.com/avatar/1234566?size=200&d=mm);
    background-position: 50% 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 50%;
    margin-left: calc(50% - 100px);
  }

  .card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  }
  
  .bg-primary {
    background-color: #008cff!important;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
  }
  
  .main-body {
    padding: 15px;
  }
  
  .card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  
  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }
  
  .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
  }
  
  .gutters-sm > .col, .gutters-sm > [class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
  }
  
  .mb-3, .my-3 {
    margin-bottom: 1rem!important;
  }
  
  .h-100 {
    height: 100%!important;
  }
  
/*Staff Directory*/
p.job-title {
    font-style: italic;
  }
  
/*Testimonials*/
.testimon1 {
    padding: 35px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    position: relative;
    margin-bottom: 50px;
  }
  
  .testimon1 .testicon p {
    margin-bottom: 20px;
    color: #999;
    line-height: 30px;
  }
  
  .testimon1 .testimopic {
    display: inline-block;
    position: absolute;
    bottom: -40px;
    border-radius: 50%;
  }
  
  .testimon1 .testimopic img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 0 0 1px rgba(49, 49, 49, 0.07);
  }
  
  .testimon1 .testimoin {
    text-align: right;
  }
  
  .testimon1 .posit {
    font-size: 12px;
    color: #888;
  }
  
  .testimon1 .posit a {
    color: #888;
  }
  
  
    

  /*Footer*/
  footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
    bottom: 0;
    color: #fff;
  }
  
  .footer-navigation h3 {
    margin: 0;
    font: normal 36px Cookie, cursive;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .footer-navigation h3 a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-navigation h3 span {
    color: #5383d3;
  }
  
  .footer-navigation p.links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-navigation p.company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
  }
  
  @media (max-width:767px) {
    .footer-contacts {
      margin: 30px 0;
    }
  }
  
  .footer-contacts p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
  }
  
  .footer-contacts p a {
    color: #5383d3;
    text-decoration: none;
  }
  
  .fa.footer-contacts-icon {
    background-color: #33383b;
    color: #fff;
    font-size: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin: 10px 15px 10px 0;
  }
  
  span.new-line-span {
    display: block;
    font-weight: normal;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-about h4 {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-about p {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  div.social-links {
    margin-top: 20px;
    color: #fff;
  }
  
  .social-links a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  